doctype html 
html
  head
    title Admin Login OF ODA
    block scripts
    block style
  body
    nav#navbar
      ul
        div#logo
          img(src="/static/img/3.png")
          | Admin ODA
        li #[a(href="/contact") Contact Us]
    block content
    footer#footer
        | Copyright © 2021 OmAcademy.com | All Rights Reserved