*{
    margin: 0px;
    padding: 0px;
}
#navbar{
    background-color: black;
    font-family: 'Yeon Sung' ;
    padding: 13px, 14px;
}
#navbar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}
#navbar li{
    list-style: none;
}
#navbar li a{ 
    color: white;
   text-decoration: none;
    padding: 13px 38px;
    margin-right: 0px;;
}
#navbar li a:hover{
    color: blue;  
}
#logo{
    display: flex;
    color: white;
    align-items: center;
    margin: 0 14px;
    font-size: 28px;
    margin-right: 40px;
}
#logo img{
    height: 42px;
    filter: invert(1);
}

#footer{
    background-color: black;
    height: 60px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
   