*{
    margin: 0px;
    padding: opx;
}
p{
  
    font-size: 23px;
    width: 124%;
    margin: auto;
    padding: 8px;
    color: azure;
}

/* .innercontainer{
    background-color: aliceblue;
    width: 40%;
    margin: auto;
    height: 69vh;
    display: flex;
} */
.innercontainer{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 498px;
    padding: 80px 40px;
    box-sizing: border-box;
    /* background: antiquewhite; */
    box-shadow: -1px 4px 28px 0px rgb(0 0 0 / 75%);
    border-radius: 10px;
}
.loginform{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 37%;
    justify-content: center;
}
.loginform input[type=email],.loginform input[type=password]{
    border: none;
	border-bottom: 2px solid red;
	background: transparent;
	outline: none;
	height: 40px;
	color: black;
	/* font-size: 16px; */
}
input {
    text-align: center;
  }
.Lbtn:hover {
	color: #fff;
	background: #104e99;
}
.loginInput{
    padding: 12px;
    margin-bottom: 20px;
    margin-top: 5px;
    border: 2px solid;
    border-radius: 9px;
    width: 100%;
}

.Lbtn{
    width: 50%;
    margin: auto;
    font-size: 19px;
    border: 2px solid;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
}
.container{
    min-height: 85vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 85vh;
    opacity: 0.9;
    background-image: url("/static/img/AdminSignup.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
