.container{
    min-height: 82vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 85vh;
    background-image: url("/static/img/event.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
.container h1{
    text-align: center;
}
input{
    text-align: center;
}
.innercontainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 498px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: antiquewhite;
    box-shadow: -1px 4px 28px 0px rgb(0 0 0 / 75%);
    border-radius: 10px;
}
.Enroll{
    margin-top: 70px;
    margin-right: 70px;
    margin-left: 32px;
    width: 33%;
    justify-content: center;
    border: none;
	border-bottom: 1px solid black;
	background: transparent;
	outline: none;
	height: 26px;
    border-radius: 5px
}
.Ebtn{
    margin: 36px;
    margin-left: 250px;
    width: 90px;
    border: 2px solid;
    border-radius: 10px;
    cursor: pointer;
    height: 35px;
    background: slategrey;
}
.Ebtn:hover{
    color: #fff;
	background: #104e99;
}