p{
  
    font-size: 32px;
    width: 124%;
    margin: auto;
    padding: 8px;
}

/* .innercontainer{
    background-color: aliceblue;
    width: 40%;
    margin: auto;
    height: 69vh;
    display: flex;
} */
.innercontainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 498px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: antiquewhite;
    box-shadow: -1px 4px 28px 0px rgb(0 0 0 / 75%);
    border-radius: 10px;
}
.innercontainer li p{
    text-align: center;
}
.innercontainer li{
    text-align: center;
}
.loginform{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 37%;
    justify-content: center;
}
.loginform input[type=text],.loginform input[type=password]{
    border: none;
	border-bottom: 1px solid black;
	background: transparent;
	outline: none;
	height: 40px;
	color: red;
	/* font-size: 16px; */
}
input {
    text-align: center;
  }
.Lbtn:hover {
	color: #fff;
	background: #104e99;
}
.loginInput{
    padding: 12px;
    margin-bottom: 20px;
    margin-top: 5px;
    border: 2px solid;
    border-radius: 9px;
    width: 100%;
}

.Lbtn{
    width: 50%;
    margin: auto;
    font-size: 19px;
    border: 2px solid;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
}
.container{
    min-height: 82vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 85vh;
    background-image: url("/static/img/logback.jpg");
    opacity: 0.8;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.loginform li{
    list-style: none;
    padding: 6px;
}
.loginform li a{ 
    text-decoration: none;
    font-size: 11px;
    color: red;
}
